<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>+++ News News News +++</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

    <div class="row d-flex justify-content-center">

        <div class="col-md-6 visible-xs-block">
      
            {{range .Items}}
            <a href="{{.Link}}" target="_blank" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    {{ if .IsNew }}
                        <h5 class="mb-1"><span class="badge badge-primary">{{.AgeLabel}}</span> {{.Title}}</h5>
                    {{ else }}
                        <h5 class="mb-1"><span class="badge badge-secondary">{{.AgeLabel}}</span> {{.Title}}</h5>
                    {{ end }} 
                </div>
                <p class="mb-1 text-wrap">{{.Origin}}</p>
                <!-- <small>{{.PublishedAt}}</small> -->
            </a>
            {{end}}
      
        </div>
      
      </div>
       
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>

